################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/TwitchClipAutodownloader/bin/Debug/netcoreapp3.1
