################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/TwitchClipAutodownloader/bin/Debug/netcoreapp3.1
/TwitchClipAutodownloader/obj
/TwitchClipAutodownloader/appsettings.json
/TwitchClipAutodownloader/client_id.json
/TwitchClipAutodownloader/client_secret.json
/TwitchClipAutodownloader/bin/Release/netcoreapp3.1
/TwitchClipAutodownloader/import.json
